.Card {
    position: relative;
}


.Card img{
    height:7rem;
    margin: 1rem;
}


.Card .FrontOfCardimage {
    transform: rotateY(90deg);
    position: absolute;
}

.TurnAroundCard .FrontOfCardimage {
    transform: rotateY(0deg);
}

.BackOfCardimage {
    height: 7rem;
    margin: 1rem;
}